.customer {
  width: 100vw;
  .head {
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .body {
    height: calc(100vh - 50px);
    display: flex;
    align-items: start;
  }
}